@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  font-family: 'Raleway',sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.col-lg-5 {
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

.btn-primary {
  outline: none;
  background-color: #311b92 !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: rgba(0,0,0,0.9) !important;
}

.signin {
  color: #fff !important;
}

.signin:hover {
  font-weight: bold !important;
  z-index: 10;
  
}

.signup {
  color: #fff !important;
  outline: none;
  background: #6200ea;
  box-shadow:  20px 20px 60px #5300c7;       
  border-radius: 10px;
}

.signup:hover {
  font-weight: bold !important;
  background-color: black;
  border: none;
}

.signup:active {
  background-color: black;
}

.start {
  background-color: #fff !important;
  color: #311b92 !important; 
  font-weight: bold !important;        
}

.start:hover {
  color: #fff !important;
}

h4,h3, h1 {
  color: #fff;
}

.form {
  background: linear-gradient(145deg, #d9dee1, #ffffff);
}

.acct {
  font-size: 0.9rem;
  color: #311b92;
}

p {
  color: #d9dee1;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

a:hover {
  font-weight: bold;
}

.user {
  width: 160px !important;
}

.require {
  color: red;
}

.error {
  color: red;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.bg {
  background-color: #6200ea !important;
}

.navbar-brand {
  color: #fff !important;
}

.navbar {
  width: 100% !important;
}

button.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.collapse .navbar-collapse {
  transition: height 0s ease-in-out, width 0s ease-in-out !important;
  -webkit-transition: height 0s ease-in-out, width 0s ease-in-out !important;
}

.navbar-toggler-icon {
  background-image: url(./menu.svg) !important;
}



#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #311b92;
  background-color: #6200ea;
  text-transform: capitalize;
}

.form-check-input {
  width: 0.9rem;
  height: 0.9rem;
}

.profile-img-card {
  border-radius: 50%;
  background-color: #6200ea;
  width: 50%;
  height: 50%;
}

.steps {
  color: #fff;
}

.card {
  color: #fff;
  border-radius: 50px;
  background: #6200ea !important;
  box-shadow:  20px 20px 60px #5300c7;           
  outline: none !important;
}

hr {
  border-top: 1px solid #fff !important;
  width: 50%;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./components/images/businessman__monochromatic.svg');
}

/** Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) { 
  .hero {
    background-image: none;
  }
 }

/** Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .hero {
    background: url('./components//images//businessman__monochromatic.svg') no-repeat center right scroll;
    background-size: contain;
    align-items: baseline;
  }

 }
