@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  font-family: 'Raleway',sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.col-lg-5 {
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

.btn-primary {
  outline: none;
  background-color: #311b92 !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: rgba(0,0,0,0.9) !important;
}

.signin {
  background-color: none !important;
  color: #d9dee1 !important;
}

.signin:hover {
  font-weight: bold !important;
}

.signup:hover {
  font-weight: bold !important;
}

.form {
  background: linear-gradient(145deg, #d9dee1, #ffffff);
  box-shadow:  20px 20px 60px #cdd2d5, 
             -20px -20px 60px #ffffff;
}

p {
  font-size: 0.9rem
}

a {
  text-decoration: none !important;
}

a:hover {
  color: black !important;
}

.user {
  width: 160px !important;
}

.require {
  color: red;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.bg {
  background-color: #6200ea !important;
}

.navbar-brand {
  color: #ffffff !important;
}

.navbar {
  width: 100% !important;
}

button.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.collapse .navbar-collapse {
  transition: height 0s ease-in-out,width 0s ease-in-out !important;
  -webkit-transition: height 0s ease-in-out,width 0s ease-in-out !important;
}

.navbar-toggler-icon {
  background-image: url(./menu.svg) !important;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #311b92;
}